<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TeaStory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-left </> bg-light">
<!--    <h1 class="mb-3">로고(TeaStory)</h1>-->
    <img th:src="@{/assets/main-logo.png}" width="400px"/>
    <!--    <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>-->
</div>
<div class="p-5 mb-5 text-center </> bg-blue">
    <h1 class="mb-3">대충 그림</h1>
    <h1 class="mb-3">당신만의 블로그를 만들어 보세요</h1>
</div>
<div class="container text-center">
    <button type="button" class="btn btn-secondary" onclick="location.href='/login'">시작</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='/myblog'">내 블로그</button>
</div>
</body>
</html>