<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>마이 페이지</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
  <h1 class="mb-3">블로그 이름</h1>
  <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
</div>
<div>
  여기는 콘텐츠 리스트

  <button type="button" class="btn btn-secondary" onclick="location.href='/article'">첫 블로그 포스팅 보기</button>
</div>

<script src="/js/article.js"></script>
</body>
</html>